{% include 'headers.html' %}
{% load crispy_forms_tags %}
{% load static %}

<div class="nk-content ">
    <div class="container-fluid">


<div class="card">
    <div class="card-body">
              <form method="POST" action="">
                      {% csrf_token %}
                         {{form | crispy}}

                  <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
    </div>
</div>
    </div>
</div>

{% include 'footers.html' %}
   <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
{% for message in messages %}
    <script>
       Swal.fire({
  position: 'center',
  icon: 'success',
  title: '{{message}}',
  showConfirmButton: true,
  timer: 15000
})
{% endfor %}
    </script>