{% include 'headers.html' %}
{% load crispy_forms_tags %}
{% load static %}

<div class="nk-content ">
    <div class="container-fluid">


<div class="card">
    <div class="card-body">
              <form method="POST" action=" " enctype="multipart/form-data" id="personForm" data-towns-url="{% url 'ajax_load_towns' %}">
                      {% csrf_token %}
                         {{form | crispy}}

                  <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
    </div>
</div>
    </div>
</div>

{% include 'footers.html' %}


<script>
    $("#id_country").change(function () {
        const url = $("#personForm").attr("data-towns-url");  // get the url of the `load_cities` view
        const countryId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: '{% url 'ajax_load_states' %}',                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'country_id': countryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_state").html(data);
                }
        });

    });


     $("#id_state").change(function () {
        const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_lga's` view
        const stateId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: '{% url 'ajax_load_lgas' %}',                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'state_id': stateId       // add the country id to the GET parameters
            },
            success: function (data) {
                $("#id_lga").html(data);
            }
        });

    });

$("#id_lga").change(function () {
        const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_towns` view
        const lga_Id = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: '{% url 'ajax_load_towns' %}',                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'lga_id': lga_Id       // add the country id to the GET parameters
            },
            success: function (data) {
                $("#id_town").html(data);
            }
        });

    });

</script>